/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.diagram {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.diagram__img{
  width: 100%;
}
.diagram__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .diagram { 
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-elm__form {
  display: flex;
}
.list {
  margin: 0;
  padding: 0;
}
.item, 
.title {
  list-style: none;
}
.input,
.btn{
  outline: none;
}
.btn {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input_text:focus {
  color: #333;
}

/* New Task */
.add-elm__title {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}
.add-elm__btn:hover {
  color: #0fCc7c;
}

/* Task list */
.item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item > * {
  vertical-align: middle;
}

.input_check {
  margin: 0 10px;
}
.item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.input_text {
  width: 226px;
}
.btn_del:hover {
  color: #cf2323;
}
.item__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.item__img:hover {
  transform: rotateZ(0);
}

/* Completed */
#done-tasks .item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.input_text {
  display: none;
}

.edit-mode .input_text {
  display: inline-block;
  width: 347.5px;
}

.edit-mode .item__label {
  display: none;
}